In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math
from sklearn import linear_model
train_data = pd.read_csv("/content/drive/MyDrive/Logistic Regression on Stroke prediction/StrokeDataTrain.csv")
train_data.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,11459,Female,65.0,0,0,Yes,Self-employed,Rural,65.47,33.3,never smoked,0
1,4754,Male,26.0,0,0,No,Private,Rural,80.94,25.9,formerly smoked,0
2,47972,Female,25.0,0,0,No,Govt_job,Rural,74.11,34.1,smokes,0
3,40513,Female,21.0,0,0,No,Private,Urban,90.16,28.9,smokes,0
4,63337,Female,42.0,0,0,Yes,Private,Rural,69.99,46.0,smokes,0
5,72940,Female,2.0,0,0,No,children,Urban,102.92,17.6,Unknown,0
6,64582,Male,40.0,1,0,Yes,Govt_job,Rural,212.01,28.4,never smoked,0
7,7886,Female,36.0,0,0,Yes,Govt_job,Rural,89.95,37.8,Unknown,0
8,47216,Male,47.0,0,0,Yes,Private,Rural,110.14,30.5,smokes,0
9,6057,Female,50.0,0,1,Yes,Self-employed,Urban,101.89,23.3,never smoked,0

ID is not so important in the training process and also it is repeating values after emerging two files so we better drop it

I actually saw afterwords that it is must for us to keep the given id for every case, to see the predicted accuracy. so the columns of train and predict should be same. we will skip drop

In [ ]:
#train_data.drop('id', axis=1, inplace=True)
#train_data.head(5)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked,0
1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked,0
2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown,0
3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked,0
4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked,0

data seems to have same values over a range, so we actually do not have a random data. So need to shuffle it to make it random

In [ ]:
train_data = train_data.sample(frac=1).reset_index(drop=True)
train_data.to_csv('/content/drive/MyDrive/Logistic Regression on Stroke prediction/StrokeDataTrain.csv', index=False)
# we put the file address to rewrite the shuffled file into our previous file
train_data.head(20)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1752,Female,20.0,0,0,No,Private,Rural,95.30,21.9,never smoked,0
1,14328,Female,80.0,0,0,Yes,Self-employed,Urban,58.19,18.6,never smoked,0
2,13512,Male,32.0,0,0,Yes,Private,Urban,115.98,26.7,Unknown,0
3,7314,Male,45.0,0,0,Yes,Private,Urban,73.68,32.4,never smoked,0
4,737,Female,42.0,0,0,Yes,Govt_job,Urban,87.41,32.2,Unknown,0
5,4001,Female,63.0,0,0,Yes,Private,Urban,75.42,38.0,formerly smoked,0
6,538,Female,47.0,0,0,Yes,Self-employed,Urban,78.05,25.8,never smoked,0
7,3742,Male,27.0,0,0,Yes,Private,Rural,80.85,28.9,smokes,0
8,2417,Female,63.0,1,0,Yes,Private,Rural,89.28,29.1,never smoked,0
9,9912,Female,31.0,0,0,Yes,Self-employed,Urban,97.95,39.9,Unknown,0
10,48644,Female,47.0,0,0,Yes,Self-employed,Rural,115.91,22.2,formerly smoked,0
11,14849,Female,71.0,0,1,Yes,Private,Urban,93.74,36.2,formerly smoked,0
12,10352,Male,26.0,0,0,Yes,Govt_job,Rural,73.29,27.8,smokes,0
13,26692,Female,38.0,0,0,Yes,Govt_job,Rural,76.82,27.3,never smoked,0
14,2550,Female,28.0,0,0,Yes,Govt_job,Rural,86.91,21.1,formerly smoked,0
15,13713,Male,55.0,0,0,Yes,Self-employed,Rural,88.19,28.5,formerly smoked,0
16,9259,Female,54.0,0,0,Yes,Private,Urban,86.04,28.3,smokes,0
17,4385,Female,44.0,0,0,Yes,Private,Urban,111.41,30.0,never smoked,0
18,8692,Female,79.0,1,0,Yes,Private,Rural,80.05,34.1,never smoked,0
19,8827,Female,39.0,0,0,Yes,Private,Urban,70.23,29.9,formerly smoked,0

#for single column to encode

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
column_to_encode = ['ever_married']
encoder.fit(train_data[column_to_encode])
encoded_column = encoder.transform(train_data[column_to_encode])
train_data['ever_married']=encoded_column # this is replacing back the encoded column to original data

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:99: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [ ]:
train_data.head(5)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,11459,Female,65.0,0,0,1,Self-employed,Rural,65.47,33.3,never smoked,0
1,4754,Male,26.0,0,0,0,Private,Rural,80.94,25.9,formerly smoked,0
2,47972,Female,25.0,0,0,0,Govt_job,Rural,74.11,34.1,smokes,0
3,40513,Female,21.0,0,0,0,Private,Urban,90.16,28.9,smokes,0
4,63337,Female,42.0,0,0,1,Private,Rural,69.99,46.0,smokes,0

#for multiple columns to encode

In [ ]:
columns_to_encode = ['gender', 'work_type', 'Residence_type', 'smoking_status']
for column in columns_to_encode:
 encoded_columns = encoder.fit_transform(train_data[column])
 train_data[column] = encoded_columns

In [ ]:
train_data.head(5)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,11459,0,65.0,0,0,1,3,0,65.47,33.3,2,0
1,4754,1,26.0,0,0,0,2,0,80.94,25.9,1,0
2,47972,0,25.0,0,0,0,0,0,74.11,34.1,3,0
3,40513,0,21.0,0,0,0,2,1,90.16,28.9,3,0
4,63337,0,42.0,0,0,1,2,0,69.99,46.0,3,0

In [ ]:
train_data.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [ ]:
train_data['bmi'].fillna(train_data['bmi'].mean(), inplace=True)

In [ ]:
train_data.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [ ]:
X_train = train_data[['id','gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status']]
Y_train = train_data['stroke']
log_reg = linear_model.LogisticRegression()
log_model = log_reg.fit(X_train,Y_train)
test_data = pd.read_csv("/content/drive/MyDrive/Logistic Regression on Stroke prediction/test.csv")
test_data.head(5)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,15304,Female,57.0,0,0,Yes,Private,Rural,82.54,33.4,Unknown
1,15305,Male,70.0,1,0,Yes,Private,Urban,72.06,28.5,Unknown
2,15306,Female,5.0,0,0,No,children,Urban,103.72,19.5,Unknown
3,15307,Female,56.0,0,0,Yes,Govt_job,Urban,69.24,41.4,smokes
4,15308,Male,32.0,0,0,Yes,Private,Rural,111.15,30.1,smokes

In [ ]:
columns_to_encode = ['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']
for column in columns_to_encode:
 encoded_columns = encoder.fit_transform(test_data[column])
 test_data[column] = encoded_columns

In [ ]:
test_data.head(5)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,15304,0,57.0,0,0,1,2,0,82.54,33.4,0
1,15305,1,70.0,1,0,1,2,1,72.06,28.5,0
2,15306,0,5.0,0,0,0,4,1,103.72,19.5,0
3,15307,0,56.0,0,0,1,0,1,69.24,41.4,3
4,15308,1,32.0,0,0,1,2,0,111.15,30.1,3

it seems that the number of columns for test data are less. lets see

In [ ]:
test_data.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
dtype: int64

In [ ]:
print(len(test_data.columns))
print(len(train_data.columns))

11
12

As this code is to send for the competition so, we can not see accuracy on our own,  they will see it

In [ ]:
X_test = test_data[['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status']]
Y_pred = log_model.predict(X_test) # trained logistic regression model mentioned above

#Probabilities

In [ ]:
probabilities = log_model.predict_proba(X_test)
print(probabilities)
col_array = probabilities[:, 1].reshape(-1, 1)
np.savetxt('probabilities.csv', col_array, delimiter=',')

[[0.96874265 0.03125735]
 [0.88557212 0.11442788]
 [0.99363242 0.00636758]
 ...
 [0.99307624 0.00692376]
 [0.98957769 0.01042231]
 [0.99051971 0.00948029]]